<a href="https://colab.research.google.com/github/mohanveeramanikantak/2025KhubTasks/blob/main/2.Boolean_%26_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Boolean Python Program (with True/False outputs):

In [ ]:
text = "Hello123"

#Check if all characters are alphabets
print(text.isalpha())

#Check if all characters are digits
print(text.isdigit())

#Check if the string starts with 'Hello'
print(text.startswith("Hello"))

False
False
True

#Arithmetic Operators

In [ ]:
a = 10
b = 3
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)
print("Floor Division:", a // b)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Modulus: 1
Exponentiation: 1000
Floor Division: 3

#Assignment Operators

In [ ]:
x = 5
x += 3
print("x += 3:", x)
x -= 2
print("x -= 2:", x)
x *= 2
print("x *= 2:", x)
x /= 2
print("x /= 2:", x)
x %= 3
print("x %= 3:", x)
x = 4
x //= 2
print("x //= 2:", x)
x **= 3
print("x **= 3:", x)

x += 3: 8
x -= 2: 6
x *= 2: 12
x /= 2: 6.0
x %= 3: 0.0
x //= 2: 2
x **= 3: 8

#Bitwise Assignment Operators

In [ ]:
x = 5
x &= 3
print("x &= 3:", x)
x |= 2
print("x |= 2:", x)
x ^= 1
print("x ^= 1:", x)
x >>= 1
print("x >>= 1:", x)
x <<= 2
print("x <<= 2:", x)

x &= 3: 1
x |= 2: 3
x ^= 1: 2
x >>= 1: 1
x <<= 2: 4

#Comparison Operators

In [ ]:
a = 10
b = 20
print("Equal:", a == b)
print("Not Equal:", a != b)
print("Greater Than:", a > b)
print("Less Than:", a < b)
print("Greater Than or Equal To:", a >= b)
print("Less Than or Equal To:", a <= b)

Equal: False
Not Equal: True
Greater Than: False
Less Than: True
Greater Than or Equal To: False
Less Than or Equal To: True

#Logical Operators

In [ ]:
a = 10
b = 5
print("Logical AND:", a > 5 and b < 10)
print("Logical OR:", a < 5 or b < 10)
print("Logical NOT:", not (a == b))

Logical AND: True
Logical OR: True
Logical NOT: True

# Identity Operators

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]
z = x
print("x is z:", x is z)
print("x is y:", x is y)
print("x is not y:", x is not y)

x is z: True
x is y: False
x is not y: True

#Membership Operators

In [ ]:
x = [1, 2, 3]
print("2 in x:", 2 in x)
print("4 not in x:", 4 not in x)

2 in x: True
4 not in x: True

#Bitwise Operators

In [ ]:
a = 5  # 0101
b = 3  # 0011
print("AND:", a & b)
print("OR:", a | b)
print("XOR:", a ^ b)
print("NOT:", ~a)
print("Left Shift:", a << 1)
print("Right Shift:", a >> 1)

AND: 1
OR: 7
XOR: 6
NOT: -6
Left Shift: 10
Right Shift: 2