<a href="https://colab.research.google.com/github/mohanveeramanikantak/2025KhubTasks/blob/main/6.Loops_Main_Topics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Kalepu Mohan Veera Manikanta
##23B21A4316 , KHUB-T7

#For Loop


```
Loops â€“ Main Topics
1. for Loop
2. while Loop
3. Loop Control Statements
4. Loop with else
5. Nested Loops
```

##Print numbers 1 to 5

> 1. for Loop in Python
> 2. Syntax with range()
> 3. for i in range(start, stop, step):
> 4. Code block

In [3]:
#1. for Loop
#Syntax and usage with range()
#Iterating over lists, strings, tuples, etc.


for i in range(1, 6):
    print(i)

1
2
3
4
5

In [4]:
# Print numbers from 0 to 4
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
# Print numbers from 1 to 10
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
# Print even numbers from 2 to 20
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

###Iterating over Lists

In [11]:
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry

###Iterating over Strings

In [12]:
name = "Mohan"
for char in name:
    print(char)

M
o
h
a
n

###Iterating over Tuples

In [13]:
numbers = (10, 20, 30)
for num in numbers:
    print(num)

10
20
30

###Iterating with Index

In [14]:
colors = ['red', 'green', 'blue']
for index, color in enumerate(colors):
    print(index, color)

0 red
1 green
2 blue

#2. while Loop in Python
####A while loop keeps running as long as the condition is True.

In [16]:
#Print numbers from 1 to 5
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [18]:
# Count down from 5 to 1
i = 5
while i >= 1:
    print(i)
    i -= 1

5
4
3
2
1

In [20]:
# Using while with break (exit loop early)
i = 1
while i <= 10:
    if i == 8:
        break
    print(i)
    i += 1

1
2
3
4
5
6
7

In [21]:
#Using while with continue (skip current iteration)
i = 0
while i < 5:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5

In [23]:
#checking correct password
password = ""
while password != "admin123":
    password = input("Enter password: ")
print("Access granted!")

Enter password: mojhK;HNKJ
Enter password: FHGSL
Enter password: hf;
Enter password: jhgfhde
Enter password: hgf
Enter password: admin123
Access granted!

#3. Loop Control Statements in Python


###Loop control statements are used to change the flow of execution inside loops.

In [25]:
##break â€“ Stop the loop immediately
for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [26]:
#continue â€“ Skip current iteration and continue
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

In [27]:
#pass â€“ Do nothing (placeholder)
for i in range(1, 6):
    if i == 3:
        pass  # do nothing
    print(i)

1
2
3
4
5

#Loop with else in Python

In [29]:
#for loop with else
for i in range(1, 6):
    print(i)
    if i == 3:
        break
else:
    print("Loop completed successfully.")

1
2
3

In [30]:
#for loop with else (no break)
for i in range(1, 4):
    print(i)
else:
    print("Loop completed without break.")

1
2
3
Loop completed without break.

In [32]:
#Prime Number Check using for-else
num = int(input("Enter a number: "))

for i in range(2, num):
    if num % i == 0:
        print(f"{num} is not prime.")
        break
else:
    print(f"{num} is a prime number.")

Enter a number: 6
6 is not prime.

In [34]:
#while loop with else
i = 1
while i <= 3:
    print(i)
    i += 1
else:
    print("While loop ended normally.")

1
2
3
While loop ended normally.

# Nested Loops in Python

In [36]:
#Print a 3x3 matrix
for i in range(3):
    for j in range(3):
        print("*", end=" ")
    print()

* * *
* * *
* * *

In [37]:
#Print a Right-Angled Triangle Pattern
for i in range(1, 6):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [38]:
#Print a Number Pattern
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [40]:
#Multiplication Table (1 to 5)
for i in range(1, 6):
    for j in range(1, 6):
        print(i * j, end="\t")
    print()

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25